/* Imports */
@import 'resets.css';
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,300);
@import url(ionicons.min.css);

/* Variables */
@body : #23272A;
@bg : #2C2F33;
@color : #fff;
@active : #555;
@highlight : #e76113;
@font : 'Titillium Web', sans-serif;
@border : 1px solid @active;
@size : 16px;
@tablet : 1025px;
@mobile : 767px;
@bottom-border-stub : 3px solid transparent;

/* Mixins */
.highlight {
  //background-color: @active;
  border-bottom: 3px solid @highlight;
}

.float {
  position: fixed;
  top: 0px;
}

.font {
  font-size: @size;
  font-family: @font;
}

.blink {
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.text-shadow {
  text-shadow: 1px 1px 1px black;
}

/* Basic setup */
html {
  .font;
}

body {
  .font;
  color: @color;
  background-color: @body;
  -webkit-font-smoothing: antialiased;
  width: 100%;

}

a {
  text-decoration: none;
  color: @color;
}

.x1 {
  font-size: @size;
}

.x2 {
  font-size: 2 * @size;
}

.x3 {
  font-size: 3 * @size;
}

.i {
  &:before {
    padding-right: 3px;
  }
}

.filter {
  display: table;
  table-layout: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../img/loader.gif) white center no-repeat;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Sections */

header, section, footer {
  width: 100%;
}

header, footer {
  .text-shadow;
}

header {
  background: url(../img/backdrop1.jpg) no-repeat center;
  background-size: cover;
  display: table;
  table-layout: fixed;
  position: relative;
  margin: 0;
  max-width: none;
  text-align: center;
  box-shadow: inset 0 0 3px 1px black;
  @media (min-width: @tablet) {
    background-attachment: fixed;
  }
  .header-wrapper {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    background-color: fade(black,50%);
  }
  .shortlinks {
    text-align: right;
    margin: 10px 10px 0 0;
    i {
      padding: 0 10px;
      line-height: 200%;
      cursor: pointer;
      &:hover {
        &:before {
          transform: scale(1.2);
          transition: all 0.2s ease;
          -webkit-transition: all 0.2s ease;
        }
      }
      &:first-child{
        padding: 0 15px;
      }
    }
    img {
      margin: 0 5px;
      width: 90px;
      height: auto;
      vertical-align: middle;
      filter: drop-shadow(1px 1px 1px black);
      -webkit-filter: drop-shadow(1px 1px 1px black);
      &:hover {
        transform: scale(1.2);
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
      }
    }
  }
  .cover {
    display: block;
    vertical-align: middle;
    padding: 200px 0 300px;
    @media (max-width: @tablet) {
      padding: 50px 0 0;
    }
    h1 {
      font-size: 3* @size;
    }
    sub {
      font-size: @size;
    }
  }
  .forward {
    padding-top: 20px;
    i {
      font-size: @size * 3;
      &:hover {
        cursor: pointer;
        &:before {
          transform: scale(1.2);
          transition: all 0.2s ease;
          -webkit-transition: all 0.2s ease;
        }
      }
    }
  }
}

section {
  display: none;
  text-align: center;
  padding: @size;
  table-layout: auto;
  &:nth-child(even) {
    background-color: @color;
    color: @body;
  }
  .headline, .content {
    display: table-row;
  }
  .headline {
    .text-shadow;
  }
  .flex-container {
    width: 100%;
    display: block;
    @media (min-width: @tablet) {
      display: flex;
      justify-content: center;
      align-items: stretch;
      align-content: center;
      flex-basis: 25%;
      min-height: 40vh;
    }
  }
  article {
    @media (min-width: @tablet) {
      display: inline-block;
      width: 35%;
    }
  }
}

#discord-userlist {
  ul {
    display: inline-block;
    li {
      text-align: left;
      margin: 5px 0;
      img {
        width: 2 * @size;
        height: auto;
        border-radius: 50%;
        border: 1px solid @body;
        vertical-align: middle;
      }
      span {
        vertical-align: middle;
        padding-left: 3px;
      }
    }
  }
  button {
    margin-top: @size;
    display: inline-block;
  }
}

footer {
  display: none;
  text-align: center;
  vertical-align: middle;
  background: url(../img/backdrop2.jpg) top center no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 3px 1px black;
  .footer-wrapper {
    padding: 5 * @size;
    background-color: fade(black,50%);
    i {
      color: indianred;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}