main {
  display: none;
  section {
    text-align: center;
    margin:0 auto;
    &.flexbox {
      //max-width: 1280px;
      //margin: 0 auto;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      @media(min-width: @mobile) {
        flex-direction: row;
        align-items: stretch;
        align-content: stretch;
      }
      @media(min-width: @tablet) {
        padding: 0 250px;
        flex-direction: row;
        align-items: stretch;
        align-content: stretch;
        &:nth-of-type(even) {
          justify-content: space-around;
        }
      }
      article {
        padding: 2 * @size 0;
        width: 100%;
        @media (min-width: @tablet) {
          width: inherit;
          //margin: 0.75 * @size 0;
          padding: 5vh 0;
          //margin: 0 145px;
        }
        &#info-rules, &#community-apply {
          @media (max-width: @mobile) {
            background-color: @bg;
          }
        }
        .headline {
          text-align: center;
          border: 2px solid transparent;
          //box-shadow: @shadow;
          text-transform: uppercase;
          .text-shadow;
          color: @highlight;
          margin: 0 0 0.5 * @size;
          span {
            .x2;
          }
        }
        .content {
          padding: 4px 4px 0;
          ul {
            width: 290px;
            margin: 0 auto;
            li {
              .li-box;
              &.bullet {
                font-size: 1.25 * @size;
                margin: .5 * @size 0;
                &:before {
                  margin-right: 4px;
                }
              }
            }
          }
        }
      }
    }
    &:nth-of-type(even) {
      @media (min-width: @mobile) {
        background-color: @bg;
      }
    }
  }
}