/* Mixins */
.highlight {
  //background-color: @active;
  color: @highlight;
}

.float {
  position: fixed;
  top: 0px;
}

.li-box {
  border: solid thin rgba(255,255,255,.2);
  background: rgba(255,255,255,.1);
  margin-bottom: 5px;
  padding: 10px 15px;
}

.font {
  font-size: @size;
  font-family: @font;
}

.filter {
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 1px black);
}