header {
  background: url("#{$imgpath}/shd.svg") no-repeat center;
  background-size: contain;
  position: relative;
  height: 100vh;
  .overlay {
    background-color: transparentize($body,.1);
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    vertical-align: top;
    width: 100%;
    @include media(mobile) {
      border-bottom: 1px solid black;
    }
  }
  .shortlinks {
    text-align: right;
    position: absolute;
    right: 10px;
    top: 10px;
    ul {
      li {
        display: inline-block;
        a {
          i {
            vertical-align: middle;
            padding: 0 10px;
            line-height: 200%;
            cursor: pointer;
            @include grow;
            @include text-shadow;
            &:first-child{
              padding: 0 15px;
            }
          }
        }
      }
    }
  }
  .cover {
    display: block;
    .cover-content {
      max-width: 90%;
      margin: 0 auto;
      img {
        max-width: 900px;
        margin-top: -$size;
        height: auto;
        @include filter;
        @include media(mobile) {
          max-width: 450px;
        }
      }
    }
    sub {
      font-size: $size;
      display: block;
    }
  }
}