nav {
  @include media(mini) {
    display: none;
  }
  @include x2;
  width: 22px;
  position: fixed;
  z-index: 2;
  top: 5vh;
  padding: 0 0.5 * $size;
  background-color: transparentize($body, .5);
  border-top-right-radius: 0.25 * $size;
  border-bottom-right-radius: 0.25 * $size;
  border: 1px solid darken($color, 80%);
  border-left-width: 0;
  ul {
    li{
      margin: .5 * $size 0;
      a {
        @include glow;
        cursor: pointer;
      }
    }
  }
}