/* Basic setup */
html {
  @include font;
  text-size-adjust: 100%;
}

body {
  @include font;
  color: $color;
  background-color: $body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
}

a {
  @include text-shadow;
  text-decoration: none;
  color: darken($color,10%);
  &:hover {
    @include media(desktop) {
      transition-duration: .5s;
      color: $highlight;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

i {
  &:not(.blink) {
    margin-right: 4px;
  }
}

/* Sections */
header, section, footer {
  width: 100%;
  max-width: 2560px;
  margin: 0 auto;
}

header, footer {
  @include text-shadow;
}