/* Basic setup */
html {
  @inlcude font;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  @include font;
  color: $color;
  background-color: $body;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  overflow: hidden;
}

a {
  @include text-shadow;
  text-decoration: none;
  color: darken(white,10%);
  &:hover {
    @media (min-width: $tablet) {
      transition-duration: .5s;
      color: $highlight;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

i {
  &:not(.blink) {
    margin-right: 4px;
  }
}

/* Sections */

header, main, footer {
  width: 100%;
  max-width: 2560px;
  margin: 0 auto;
}

header, footer {
  @include text-shadow;
}