#form-result {
  text-align: center;
  #form-result-text {
    line-height: 240px;
    color: $highlight;
  }
  #retry {
    display: none;
    margin: 0 auto;
    cursor: pointer;
    &:hover {
      @include media(desktop) {
        transition-duration: .5s;
        color: $highlight;
      }
    }
  }
}

form {
  .formfield {
    margin: $size auto;
    width: 200px;
    ul {
      margin: 0;
    }
  }
  .submitfield {
    vertical-align: bottom;
    margin-top: $size;
    text-align: center;
    .form-info {
      display: block;
      margin-bottom: $size;
    }
  }
  .form-input-error {
    color: $highlight;
    line-height: 150%;
    font-size: $size - 2;
  }
  .submit {
    cursor: pointer;
    @include text-shadow;
    text-decoration: none;
    color: darken(white,10%);
    &:hover {
      @include media(desktop) {
        transition-duration: .5s;
        color: $highlight;
      }
    }
  }
  input{
    padding: 8px 8px 7px;
    border: none;
    transition: border 0.3s;
    background-color: transparent;
    color: white;
    border-radius: 0px;
    width: 238px;
    @include bottom-border($body);
    &:focus {
      outline: none !important;
      @include bottom-border($highlight);
    }
  }
}

#community-apply-info {
  font-style: italic;
  line-height: 200%;
  text-align: center;
  margin: 5px auto;
}
