main {
  display: none;
  section {
    text-align: center;
    margin:0 auto;
    text-align: left;
    min-height: 100vh;
    .overlay {
      background-color: transparentize($body,.1);
    }
    &.flexbox, .flexbox {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      @include media(desktop) {
        flex-direction: row;
        align-items: stretch;
        align-content: stretch;
        padding: 0 250px;
        &:nth-of-type(even) {
          justify-content: space-around;
        }
      }
    }
    article {
      width: 100%;
      min-height: 95vh;
      padding: 0 0 5vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      &#info-about, &#info-goals, &#community-discord {
        @include media(mobile) {
          background-color: $bg;
        }
      }
      @include media(mobile) {
        &#info-rules {
          background: url("#{$imgpath}/order.jpg") no-repeat center;
          background-size: cover;
          background-color: $overlay;
          box-shadow: $inset;
        }
        &#community-apply {
          background: url("#{$imgpath}/recruit.jpg") no-repeat center;
          background-size: cover;
          background-color: $overlay;
          box-shadow: $inset;
        }
      }
      .headline {
        text-align: center;
        border: 2px solid transparent;
        text-transform: uppercase;
        @include text-shadow;
        color: $highlight;
        margin: 0 0 0.5 * $size;
        span {
          @include x2;
        }
      }
      .content {
        padding: 4px 4px 0;
        ul {
          width: 290px;
          margin: 0 auto;
          li {
            @include li-box;
            .label {
              @include bold;
              margin-right: 4px;
            }
          }
        }
      }
    }
    &#info {
      background-color: $bg;
      @include media(desktop) {
        background: url("#{$imgpath}/recruit.jpg") no-repeat center $overlay;
        box-shadow: $inset;
        background-attachment: fixed;
      }
    }
    &#community {
      @include media(desktop) {
        box-shadow: $shadow;
        background: url("#{$imgpath}/logo.svg") no-repeat center;
        background-size: contain;
      }
    }
  }
}