/* Variables */
$body: #23272A;
$bg: #2C2F33;
$color: #fff;
$active: #555;
$overlay: #111;
$highlight: #e76113;
$font: 'Titillium Web', sans-serif;
$size: 16px;
$tablet: 1024px;
$mobile: 768px;
$shadow: 1px 1px 1px black;
$inset: inset 0 0 3px 1px black;
$imgpath: "../img";
$online: #43b581;
$idle: #faa61a;