header {
  background: url("@{imgpath}/shd.svg") no-repeat center;
  background-size: contain;
  position: relative;
  height: 100vh;
  .overlay {
    background-color: fade(@body,96%);
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    vertical-align: top;
    width: 100%;
    @media (max-width: @mobile) {
      border-bottom: 1px solid black;
    }
  }
  .shortlinks {
    text-align: right;
    position: absolute;
    right: 10px;
    top: 10px;
    ul {
      li {
        display: inline-block;
        a {
          i {
            vertical-align: middle;
            padding: 0 10px;
            line-height: 200%;
            cursor: pointer;
            .grow;
            .text-shadow;
            &:first-child{
              padding: 0 15px;
            }
          }
        }
      }
    }
    img, svg {
      margin: 0 5px;
      width: 90px;
      height: auto;
      vertical-align: middle;
      filter: drop-shadow(1px 1px 1px black);
      -webkit-filter: drop-shadow(1px 1px 1px black);
      &:hover {
        transform: scale(1.2);
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        path {
          fill: @highlight;
        }
      }
    }
  }
  .cover {
    display: block;
    .cover-content {
      max-width: 90%;
      margin: 0 auto;
      img {
        max-width: 900px;
        margin-top: -@size;
        height: auto;
        .filter;
        @media (max-width: @mobile) {
          max-width: 350px;
        }
      }
    }
    sub {
      font-size: @size;
      display: block;
    }
  }
  .forward {
    margin-top: @size;
    .grow;
  }
}